body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(imagesbg.jpg) no-repeat center left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: rgb(212, 107, 107);
    text-align-last: left;
}

hr {
    border-color: coral;
    border-width: 3px;
    max-width: 65px;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: coral;
    border-color: coral;
}

.btn-primary:hover {
    background-color: rgb(209, 76, 28);
    border-color: rgb(209, 76, 28);
    border-width: 4px;
}

.btn-xl {
    padding: 1rem 2rem;
}

.buffer {
    height: 3rem;
}